---

import Layout from '../../../layouts/Layout.astro';
import H2 from '../../../components/H2.astro';
import '../Post.css';

const title = "Bring back simpler websites"
<!-- const title = "Bring back the old web" -->

---

with the rise of enshittification, the internet has become a

perishable

reddit posts that get deleted by automods after having hundreds of comments

add open graph tags?

<Layout title={`${title}" - wdias.dev"`}>
  <main class="post">
    <h1>{title}</h1>

    <p>
      During the process of developing this website I realized how difficult it is to desing a good looking interface
      that looks cohesive and visually pleasing

      It made me remember the early 2000's era of website design

      and Japanese websites still look like that to a certain extent

      and I think that that's a good thing.

      in the day and age of server side rendering and insanely complex logic for websites this

      the indie web and the yearn for simpler times

      keep the web simple

      fuck analytics

      stop this restless pursue and integration of ai and analytics into everything

      light weight websites with minimal js and no libraries/frameworks

      websites are "perishable", and maintaining them is becoming increasinly difficult
      with javacript dependency hell and inherently bad react code scattered with bugs.
      I'm not claiming to be a React expert, but

      <a href="https://motherfuckingwebsite.com/">motherfuckingwebsite.com</a>
      <a href="http://bettermotherfuckingwebsite.com/">bettermotherfuckingwebsite.com</a>
      <a href="https://thebestmotherfucking.website/">thebestmotherfucking.website</a>
      <a href="https://justfuckingusehtml.com/">justfuckingusehtml.com</a>
      <a href="https://www.justfuckingcode.com/">justfuckingcode.com</a>
      <a href="https://www.openbsd.org/">openBSD</a>
      <a href="https://grugbrain.dev/">grugbrain.dev</a>
      <a href="https://www.terminal.shop/">terminal.shop</a>
      <a href="https://opencode.ai/">opencode.ai</a>
      <!-- list of indieweb bookmarks -->
    </p>
  </main>
</Layout>
