---

import Layout from '../../../layouts/Layout.astro';
import H2 from '../../../components/H2.astro';
import PostIMG from '../../../components/PostIMG.astro';
import '../Post.css';

const title = "Building a Custom Mechanical Keyboard"

---

<Layout title={`${title}" - wdias.dev"`}>
  <main class="post">
    <h1>{title}</h1>
    <p class="post_date">Jul 16, 2024</p>

    <p class="italic_intro">
      After almost two years, I'm finally writing about the process of
      designing and building my first custom mechanical keyboard, and what my
      experience has been like using it as my daily driver.
    </p>

    <!-- TODO -->
    <!-- blog setup a rss feed?

        https://www.google.com/search?q=how+to+set+up+a+rss+feed+for+my+blog&client=firefox-b-d&sca_esv=c1209131ca63d9ac&sxsrf=AHTn8zpQAbQ184GjbZU2yOk88Ewmyt9FSg%3A1746592498730&ei=8uIaaKeoLOfV1sQPq6PLyAg&ved=0ahUKEwin6dCLxJCNAxXnqpUCHavREokQ4dUDCBA&uact=5&oq=how+to+set+up+a+rss+feed+for+my+blog&gs_lp=Egxnd3Mtd2l6LXNlcnAiJGhvdyB0byBzZXQgdXAgYSByc3MgZmVlZCBmb3IgbXkgYmxvZzIGEAAYFhgeMgsQABiABBiGAxiKBTILEAAYgAQYhgMYigUyCBAAGIAEGKIEMggQABiABBiiBEjAKVDJCli4J3AEeAGQAQCYAckBoAGGD6oBBjAuMTQuMbgBA8gBAPgBAZgCE6ACwQ_CAgoQABiwAxjWBBhHwgIFEAAYgATCAggQABiiBBiJBZgDAIgGAZAGCJIHBjQuMTQuMaAHhVGyBwYwLjE0LjG4B7QP&sclient=gws-wiz-serp

        https://dev.to/ndesmic/adding-an-rss-feed-to-a-blog-2klj
        https://knowledge.hubspot.com/blog/generate-rss-feed-urls-for-blogs-authors-and-tags
        https://kevincox.ca/2022/05/06/rss-feed-best-practices/
        https://onlyrss.org/pages/about.html
        https://onlyrss.org/pages/subscribe.html
        https://onlyrss.org/posts/rss-part-1.html
        https://onlyrss.org/feed.xml

    -->
    <!-- create a proper post template file -->
      <!-- H2 link underline with animation like in header? -->
      <!-- highlight word class -->
    <!-- check spacings everywhere -->
    <!-- finish layout on home page -->
    <!-- add more stuff to about -->

    <!--
      https://astro.build/themes/details/fuwari
      https://astro.build/themes/details/astrogaia
      https://astro.build/themes/details/cody
      https://astro.build/themes/details/astropaper/
      https://astro.build/themes/details/astro-vim/
      colors - https://www.ign.com/wikis/final-fantasy-vi/Sabin%27s_Scenario_-_Cabin_Fever

      https://christitus.com/my-problems-with-linux/
      https://brisson.netlify.app/post/call-log-app/
      https://htmx.org/essays/locality-of-behaviour/
      https://tek256.com/posts/porting-a-game/
      https://ericmurphy.xyz/
      https://ericmurphy.xyz/vault/fonts/
      https://jordemort.dev/
      https://jordemort.dev/portfolio/
      https://jordemort.dev/blog/hacking-back-in-to-my-3d-printer/
      https://handy.gy/
      https://kamranahmed.info/posts/systemctl-vs-service
      https://volarjs.dev/blog/volar-a-new-beginning/
      https://kettanaito.com/blog/the-plague-of-linters
      https://astro.build/blog/astro-350/
      https://antfu.me/posts/why-not-prettier
      https://tkdodo.eu/blog/about-async-functions
      https://laravel-news.com/the-ultimate-git-nah-alias
      https://torbet.co/

      https://alljavi.github.io/tartarus-startpage/
      https://voxie12.github.io/

      https://melankorin.net/home/
      https://kafu.ovh/

   -->

    <H2 title="Down the rabbit hole" />
    <p>
      After being introduced by a friend to the world of custom mechanical keyboards
      and buying my first actual brand new keyboard that wasn't some hand-me-down
      old PS2 membrane keyboard, I was pretty happy with my Logitech K835 with
      red linear switches, but that changed when I started browsing subreddits
      learned about (almost) all different kinds of keyboards, layouts, sizes, etc.
    </p>
    <PostIMG
      src="/src/img/old-membrane-keyboard.jpg"
      alt="old membrane keyboard"
      subtitle="old membrane keyboard"
    />
    <p>
      At first I became interested in smaller keyboards, around 60% and then the smaller
      40%, which was actually just my brain trying to convince me that I would need
      a smaller keyboard to take to university and or to work (I work remote).
      I was sucked into the hobby, and my wallet was already sweating at this point.
      That led to me discovering ortholinear layouts and I eventually found about
      split and ergonomic keyboards and became familiar with all the jargon around it.
      I remember thinking "huh, I thought these weird looking keyboards were just some
      movie prop made for the 'hacker' characters".
    </p>
    <p>
      Anyway, I got so into it that I started researching what it takes to build a keyboard
      from scratch, reading articles, watching countless youtube videos, and what seemed
      so complicated at first turned out to be a lot simpler.
    </p>

    <H2 title="The layout" />
    <p>
      I considered a lot of different layouts at first. From the most common to
      the most niche of layouts. I eventually settled with the idea of creating
      my own keyboard layout and I went through about 6 major revisions. At first,
      I wanted a ABNT layout since I've been typing in portuguese my whole life,
      but my current keyboard at the time had an english layout, and by then I
      was pretty much used to it, so I changed my mind, again.
    </p>
    <p>
      With the language for the layout defined, I began trying out different ideas
      in this <a href="http://www.keyboard-layout-editor.com/">Layout Editor</a>
      and settled on a weird variation of the standard engligh layout that is also
      ortholinear, and split in half.
    </p>
    <PostIMG
      src="/src/img/split-keyboard-layout.jpg"
      alt="split keyboard layout"
      subtitle="split keyboard layout"
    />
    <p>
      I know I could've (and probably should've) made it smaller, more ergonomic
      and relying on multiple layers for all the less used keys, but whatever. ¯\_(ツ)_/¯
    </p>

    You might be wondering "why on earth would you need three space bars for?",
    to which I would reply that I only need two, but now I have three.
    when I'm typing I use the space bar with my right thumb, but when I'm playing
    a game I use the space bar with my left thumb, so I made a separate layer just for this
    I'm planning on using the left ones as modifier keys in the main layer
    (kinda like a thumb cluster, but less ergonomic) to control a window manager
    when I finally make the switch from a desktop environment. I use Arch, btw.



    <H2 title="The parts" />
    <p>
      With the layout in mind I began searching AliExpress for the best deals on
      parts, since this was my first time venturing into this insanely expensive
      hobby (and since I live in Brazil, and conversion rates SUCK here), I decided
      on the following:
    </p>
    <ul>
      <li>2x Raspberry Pi Pico</li>
      <li>100x Red Linear Gateron Switches</li>
      <li>1x set of stabilizers</li>
      <li>Keycaps (with Japanese legends to make the weeb in me happy)</li>
    </ul>
    <p>
      Curabitur id scelerisque ipsum.
      Vestibulum libero turpis, rhoncus eget turpis at, dapibus tincidunt tellus.
      Vivamus finibus ante quis eros maximus, quis volutpat odio sollicitudin.
      Donec finibus semper cursus. In id commodo leo. Donec congue sed sapien
      quis finibus. Donec varius mi id vulputate lobortis. Donec interdum tortor
      venenatis magna sagittis, ultricies dictum sem vestibulum. Mauris mauris
      eros, pulvinar a mi sit amet, mollis molestie turpis.
    </p>

    <H2 title="Building it" />
    <p>
      Integer imperdiet lectus in dapibus faucibus. Curabitur ac volutpat ex.
      Curabitur sit amet velit quam. Nulla pharetra maximus elit quis pretium.
      Suspendisse quam quam, vehicula et velit non, pellentesque pulvinar lorem.
      Etiam mauris risus, luctus sed pharetra at, lobortis et felis. Phasellus
      venenatis sed erat vitae eleifend.
    </p>

    Doing some research I found this extremely helpful blog post
    https://sanderg.nl/en/posts/how-to-split-keyboard-with-rp2040-and-kmk/
    detailing how to wire the interconnect for the two Pi Picos

    <H2 title="The firmware" />
    <p>
      After some research on firmwares for custom keyboards I saw that by far
      the most popular was QMK, with ZMK being the new flashy alternative. So I
      began reading the documentation and
       to use and , I figured I would try KMK
      and see
    </p>
    I'm keeping the Logitech keyboard as a backup
    in case I need to modify the firmware, in case something breaks,
    or in case I want to try a different firmware such as QMK

    <H2 title="An abomination" />

    typing speed - never been a fast typer
    confort
    split - learn to touch type
    customizability - firmware, layers
    looks pretty damn cool
    interconnect problems
    totally worth it!
    100% would build one again

    and while this is definitely not an "end game" keyboard I am extremely happy with it.

    postmortem
    usb interconnect kinda finicky
    it has some latency when pressing multiple keys (kmk fault? os fault?)
    want to try qmk
    want to make it wireless
      need to fit it a battery and battery charging controller in there
      replace the pico for pico w (?)
    thumb clusters should make it better
      there are way too many keys
      layers would have been a better approach
      I'll be using the extra 2 space bars in the left for layer controls and better everyday use of modifiers
    eventually i'll iterate on this design and make an improved version

    <p>
      Integer imperdiet lectus in dapibus faucibus. Curabitur ac volutpat ex.
      Curabitur sit amet velit quam. Nulla pharetra maximus elit quis pretium.
      Suspendisse quam quam, vehicula et velit non, pellentesque pulvinar lorem.
      Etiam mauris risus, luctus sed pharetra at, lobortis et felis. Phasellus
      venenatis sed erat vitae eleifend.
    </p>

  </main>
</Layout>
