.post {
  :is(h1) {
    font-size: 1.6rem;
    margin-top: 0px;
    margin-bottom: 10px;
  }

  .post_date {
    font-size: 0.85rem;
  }

  .italic_intro {
    font-style: italic;
    margin-top: 47px;
  }

  :is(h2), :is(h3) {
    font-size: 1.4rem;

    :is(a) {
      color: var(--text);
      opacity: .5;
      margin-left: 12px;
    }

    :is(a):hover {
      color: var(--accent);
      opacity: 1;
    }
  }

  :is(h3) {
    font-size: 1.2rem;
  }

  :is(p) {
    font-size: 1rem;
  }

  :is(a) {
    color: var(--accent);
    text-decoration: underline;
    text-underline-offset: 2px;
  }

  :is(e) {
    color: var(--accent);
  }

  :is(blockquote) {
    display: block;
    font-style: italic;
    padding: 1.5rem 1.5rem;
    border-inline-start: 0.35rem solid var(--accent);
    margin-left: 0;

    :is(p) {
      margin: 0;
    }
  }

  :is(img) {
    max-width: 100%;
    height: auto;
    border-radius: .5rem;
  }
}
