.post {
  :is(h1) {
    font-size: 1.6rem;
    /* font-size: 20px; */
    margin-top: 0px;
    margin-bottom: 10px;
    /* text-align: center; */
  }

  .post_date {
    font-size: 0.85rem;
    /* text-align: center; */
  }

  :is(h2) {
    font-size: 1.2rem;
    /* font-size: 20px; */

    :is(a) {
      color: var(--text);
      opacity: .5;
    }
    :is(a):hover {
      color: var(--accent);
      opacity: 1;
    }
  }

  :is(p) {
    font-size: 1rem;
    /* font-size: 16px; */
  }

  :is(a) {
    color: var(--accent);
  }

  :is(blockquote) {
    display: block;
    font-style: italic;
    padding: 1.5rem 1.5rem;
    border-inline-start: 0.35rem solid var(--accent);
    margin-left: 0;
    :is(p) {
      margin: 0;
    }

  }
}
