---

import Layout from '../layouts/Layout.astro';

---

<Layout title="About - wdias.dev">
  <main class="about_container">
    <h1>About</h1>

    <div class="about_me">
      <p>
        Hi, my name is Wellington. I'm a computer scientist
        from Brazil, currently working as a Full Stack software engineer at
        <a href="https://cadastra.com/en/" target="_blank">Cadastra</a>,
        building e-commerce solutions.
      </p>
      <p>
        I strive to make software that doesn't suck. And I hope that one day I'll be
        able to stop working as a web dev to work on interesting stuff that's
        <span class="italic">actually</span> useful to people on their daily live's,
        helps progress scientific discoveries, or is just straight up fun (e.g. video games).
      </p>
      <p>
        I'm a huge nerd, Linux enthusiast (I use Arch, btw), tinkerer, open source advocate,
        kind of obsessed with software performance, musician,
        weightlifter/powerlifter and petrolhead.
      </p>

      <h2>What is this site?</h2>
      <p>
        It is my personal, non-commercial website, where I'll post mainly about my
        software and hardware projects, various bits of information for my own
        reference, as well as publish write-ups that I believe might be interesting
        to like minded people about tech, language learning, cars, video games,
        books, etc.
      </p>
      <p>
        It is a website the way we understood websites to be, back in the 90s and
        early 2000s, fun and interesting, without all the crap that analytics,
        user tracking, intrusive ads, React and the JavaScript ecosystem as a
        whole and AI slop brought upon us.
      </p>

      <div class="intro_links">
        <a href="https://github.com/wdiasjunior" target="_blank">GitHub</a>
        <a href="mailto:wdias@wdias.dev">E-mail</a>
      </div>
    </div>

    <h2 class="skills_title">Skills</h2>
    <div class="skills">
      <span class="skill">Go</span>
      <span class="skill">Gin</span>
      <span class="skill">C</span>
      <span class="skill">Lua</span>
      {/*<span class="skill">Odin</span>*/}
      <span class="skill">JavaScript</span>
      <span class="skill">TypeScript</span>
      <span class="skill">React</span>
      <span class="skill">React Native</span>
      <span class="skill">Next.js</span>
      <span class="skill">Node.js</span>
      <span class="skill">Express.js</span>
      <span class="skill">SolidJS</span>
      <span class="skill">Astro</span>
      <span class="skill">Python</span>
      <span class="skill">Django</span>
      <span class="skill">Java</span>
      <span class="skill">SQLite</span>
      <span class="skill">PostgreSQL</span>
      <span class="skill">MongoDB</span>
      <span class="skill">Docker</span>
    </div>
  </main>
</Layout>

<style>
  .about_container {
    display: flex;
    flex-direction:column;
    margin-bottom: 50px;

    .about_me {
      p :is(a) {
        color: var(--accent);
        text-decoration: underline;
        text-underline-offset: 2px;
      }
    }

    :is(p) {
      &:first-child {
        margin-top: 0;
      }
    }

    .intro_links {
      font-size: 1.2rem;
      margin-top: 24px;
      :is(a) {
        position: relative;

        &:hover {
          color: var(--accent);
        }

        &:hover::after {
          transform: scaleX(1);
          transform-origin: bottom left;
        }

        &::after {
          content: '';
          position: absolute;
          width: 100%;
          transform: scaleX(0);
          height: 2px;
          bottom: -1px;
          left: 0;
          background-color: var(--accent);
          transform-origin: bottom right;
          transition: transform 0.20s ease-out;
        }

        &:first-child {
          margin-right: 18px;
        }
      }
    }

    :is(h2), .skills_title {
      margin-top: 24px;
      font-weight: bold;
    }
    .skills {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      column-gap: .75rem;
      row-gap: .5rem;
      margin-top: 12px;

      .skill {
        padding: .25rem .5rem;
        border: 1px solid var(--accent);
        border-radius: .25rem;
        color: var(--text);
        font-size: .75rem;
        width: fit-content;
      }
    }
  }
</style>
