---

import Layout from '../layouts/Layout.astro';

---

<Layout title="About - wdias.dev">
  <main class="about_container">
    <h1>About</h1>

    <div class="about_me">
      <p>
        Hi, my name is Wellington. I'm a computer scientist
        from Brazil, currently working as a Full Stack software engineer at
        <a href="https://cadastra.com/en/" target="_blank">Cadastra</a>,
        building e-commerce solutions.
      </p>
      <p>
        I strive to make software that doesn't suck.
      </p>
      <p>
        I'm a Linux enthusiast (I use Arch, btw), open source advocate, kind of
        obsessed with software performance, musician, weightlifter and petrolhead.
      </p>

      <div class="intro_links">
        <a href="https://github.com/wdiasjunior" target="_blank">GitHub</a>
        <a href="mailto:wdias@wdias.dev">E-mail</a>
      </div>
    </div>

    <span class="skills_title">Skills</span>
    <div class="skills">
      <span class="skill">Go</span>
      <span class="skill">Gin</span>
      <span class="skill">C</span>
      <span class="skill">Rust</span>
      {/*<span class="skill">Odin</span>*/}
      <span class="skill">JavaScript</span>
      <span class="skill">TypeScript</span>
      <span class="skill">React</span>
      <span class="skill">React Native</span>
      <span class="skill">Next.js</span>
      <span class="skill">Node.js</span>
      <span class="skill">Express.js</span>
      <span class="skill">SolidJS</span>
      <span class="skill">Astro</span>
      <span class="skill">Python</span>
      <span class="skill">Django</span>
      <span class="skill">Java</span>
      <span class="skill">SQLite</span>
      <span class="skill">PostgreSQL</span>
      <span class="skill">MongoDB</span>
      <span class="skill">Docker</span>
    </div>
  </main>
</Layout>

<style>
  .about_container {
    display: flex;
    flex-direction:column;
    margin-bottom: 50px;

    .about_me {
      p :is(a) {
        color: var(--accent);
        text-decoration: underline;
        text-underline-offset: 2px;
      }
    }

    :is(p) {
      &:first-child {
        margin-top: 0;
      }
    }

    .intro_links {
      font-size: 1.2rem;
      margin-top: 24px;
      :is(a) {
        position: relative;

        &:hover {
          color: var(--accent);
        }

        &:hover::after {
          transform: scaleX(1);
          transform-origin: bottom left;
        }

        &::after {
          content: '';
          position: absolute;
          width: 100%;
          transform: scaleX(0);
          height: 2px;
          bottom: -1px;
          left: 0;
          background-color: var(--accent);
          transform-origin: bottom right;
          transition: transform 0.20s ease-out;
        }

        &:first-child {
          margin-right: 18px;
        }
      }
    }

    .skills_title {
      margin-top: 24px;
      font-weight: bold;
    }
    .skills {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      column-gap: .75rem;
      row-gap: .5rem;
      margin-top: 12px;

      .skill {
        padding: .25rem .5rem;
        border: 1px solid var(--accent);
        border-radius: .25rem;
        color: var(--text);
        font-size: .75rem;
        width: fit-content;
      }
    }
  }
</style>
