---

import Layout from '../layouts/Layout.astro';
import AboutIntro from '../components/AboutIntro.astro';
import MainProjects from '../components/MainProjects.astro';
import RecentBlogPosts from '../components/RecentBlogPosts.astro';

---

<Layout title="wdias.dev">
  <main>
    <AboutIntro />
    <RecentBlogPosts />
    <MainProjects />
  </main>
</Layout>

<style>

</style>
