---

import Layout from '../layouts/Layout.astro';
import AboutIntro from '../components/AboutIntro.astro';
import MainProjects from '../components/MainProjects.astro';
import FeaturedPosts from '../components/FeaturedPosts.astro';

---

<Layout title="wdias.dev">
  <main>
    <AboutIntro />
    {/*<FeaturedPosts />*/}
    <MainProjects />
  </main>
</Layout>

<style>

</style>
