---

import Layout from '../../../layouts/Layout.astro';
import H2 from '../../../components/H2.astro';
import '../Post.css';

const title = "Building a Custom Mechanical Keyboard"

---

<Layout title={`${title}" - wdias.dev"`}>
  <main class="post">
    <h1>{title}</h1>
    <p class="post_date">Jul 16, 2024</p>

    <p class="italic_intro">
      About a year after I build it I'm finally writing about the process of
      desining and building my first custom mechanical keybaord, and what my
      experience with has been like after it as my daily driver.
    </p>

    <!-- TODO -->
    <!-- create a proper post template file -->
      <!-- H2 link underline with animation like in header? -->
      <!-- img component with a subtitle -->
      <!-- TLDR block -->
      <!-- highlight word class -->
    <!-- check spacings everywhere -->
    <!-- finish layout on home page -->
    <!-- add more stuff to about -->

    <!--
      https://brisson.netlify.app/post/call-log-app/
      https://htmx.org/essays/locality-of-behaviour/
      https://tek256.com/posts/porting-a-game/
      https://ericmurphy.xyz/
      https://ericmurphy.xyz/vault/fonts/
      https://jordemort.dev/
      https://jordemort.dev/portfolio/
      https://jordemort.dev/blog/hacking-back-in-to-my-3d-printer/
      https://handy.gy/
      https://kamranahmed.info/posts/systemctl-vs-service
      https://volarjs.dev/blog/volar-a-new-beginning/
      https://kettanaito.com/blog/the-plague-of-linters
      https://astro.build/blog/astro-350/
      https://antfu.me/posts/why-not-prettier
      https://tkdodo.eu/blog/about-async-functions
      https://laravel-news.com/the-ultimate-git-nah-alias
      https://torbet.co/

      https://alljavi.github.io/tartarus-startpage/
      https://voxie12.github.io/

   -->

    <H2 title="Down the rabbit hole" />
    <p>
      After being introduced by a friend to the world of custom mechanical keyboards
      and buying my first actual brand new keyboard that wasn't some hand-me-down
      old PS2 membrane keyboard, I was pretty happy with my Logitech K835 with
      red linear switches, but that changed when I started browsing subreddits
      for  all about different kinds of keyboards, layouts, sizes, etc.
    </p>
    <!-- <img src="/src/img/old-membrane-keyboard.jpg" alt="old membrane keyboard" /> -->
    <p>
      At first I became interest smaller keyboards, around 60% and then the smaller
      40%. That led to me discovering ortholinear layouts and I eventually found
      split and ergonomic keyboards and became familiar with all the jargon around it.
    </p>
    <p>
      I got so into it that I started researching what it takes to build a keyboard
      from scratch, and it turned out to be a lot simpler than I expected.
    </p>

    <H2 title="The layout" />
    <p>
      Nulla urna tellus, bibendum ac commodo at, viverra at metus. Fusce
      scelerisque lacus nec mi dapibus convallis. Nullam posuere ligula ac pulvinar
      eleifend. Nulla facilisi. Aenean blandit egestas felis eget rutrum. Ut auctor
      dictum leo nec pulvinar. Cras nec purus hendrerit, commodo sapien at,
      suscipit magna. Maecenas pellentesque laoreet aliquam. Suspendisse maximus
      hendrerit sollicitudin. Nunc sollicitudin tortor massa, eget cursus eros
      fringilla ac. Sed tempor, odio non tincidunt tempus, justo tortor fringilla
      lectus, id tempor neque enim et diam. Nulla mollis ut diam eget bibendum.
      Ut eros libero, rhoncus quis lectus sit amet, fermentum pretium ante.
      Duis posuere eget dolor luctus malesuada. Cras dictum pulvinar placerat.
    </p>

    <img src="/src/img/split-keyboard-layout.jpg" alt="split keyboard layout" />

    <p>
      Sed purus metus, luctus vel suscipit non, ultricies at ex. Sed at quam
      metus. Proin porta viverra mi eu bibendum. In sit amet mi at mi scelerisque
      feugiat. Maecenas pharetra ante quis ligula sollicitudin, non facilisis
      magna sollicitudin. Maecenas ac tempus massa. Sed ultricies rutrum tellus ut
      consectetur. Fusce eu gravida leo, in imperdiet diam.
    </p>

    <H2 title="The parts" />
    <p>
      Pellentesque eu feugiat elit. Nulla bibendum nunc volutpat enim euismod
      molestie at eu massa. Quisque tristique nulla at sapien volutpat, eget
      venenatis velit euismod. Nunc quis justo volutpat, pharetra lacus eget,
      molestie nibh. Nam suscipit feugiat ultrices.
    </p>
    <ul>
      <li>Lorem ipsum dolor sit amet</li>
      <li>Lorem ipsum dolor sit amet</li>
      <li>Lorem ipsum dolor sit amet</li>
      <li>Lorem ipsum dolor sit amet</li>
      <li>Lorem ipsum dolor sit amet</li>
    </ul>
    <p>
      Curabitur id scelerisque ipsum.
      Vestibulum libero turpis, rhoncus eget turpis at, dapibus tincidunt tellus.
      Vivamus finibus ante quis eros maximus, quis volutpat odio sollicitudin.
      Donec finibus semper cursus. In id commodo leo. Donec congue sed sapien
      quis finibus. Donec varius mi id vulputate lobortis. Donec interdum tortor
      venenatis magna sagittis, ultricies dictum sem vestibulum. Mauris mauris
      eros, pulvinar a mi sit amet, mollis molestie turpis.
    </p>

    <H2 title="Building it" />
    <p>
      Integer imperdiet lectus in dapibus faucibus. Curabitur ac volutpat ex.
      Curabitur sit amet velit quam. Nulla pharetra maximus elit quis pretium.
      Suspendisse quam quam, vehicula et velit non, pellentesque pulvinar lorem.
      Etiam mauris risus, luctus sed pharetra at, lobortis et felis. Phasellus
      venenatis sed erat vitae eleifend.
    </p>

    <H2 title="The firmware" />
    <p>
      After some research on firmwares for custom keyboards I saw that by far
      the most popular was QMK, with ZMK being the new flashy alternative. So I
      began reading the documentation and
       to use and , I figured I would try KMK
      and see
    </p>

    <H2 title="An abomination" />

    typing speed - never been a fast typer
    confort
    split - learn to touch type
    looks pretty cool
    interconnect problems

    <p>
      Integer imperdiet lectus in dapibus faucibus. Curabitur ac volutpat ex.
      Curabitur sit amet velit quam. Nulla pharetra maximus elit quis pretium.
      Suspendisse quam quam, vehicula et velit non, pellentesque pulvinar lorem.
      Etiam mauris risus, luctus sed pharetra at, lobortis et felis. Phasellus
      venenatis sed erat vitae eleifend.
    </p>

  </main>
</Layout>
