---

import './Projects.css';

---

<div class="posts">
  <h2>Recent Blog Posts</h2>

  <div class="post_list">
    <a class="post_item" href="/blog/2025/building-a-custom-mechanical-keyboard">
      <span>October 16, 2025</span>
      <span>Building a Custom Mechanical Keyboard</span>
    </a>
  </div>
  <a class="see_more" href="/blog">see more posts <span>&rarr;</span></a>
</div>

<style>
  .posts {
    /* margin-bottom: 5rem; */
    padding-bottom: 67px;

    h2 {
      /* margin-top: 4rem; */
    }

    .post_list {
      display: flex;
      flex-direction: column;
      gap: 26px;
      margin-bottom: 30px;

      .post_item {
        display: flex;
        flex-direction: column;

        :is(span):first-child {
          color: var(--text-faded);
          font-size: 0.85rem;
          font-style: italic;
        }

        :is(span):last-child {
          font-size: 1.125rem;
          font-weight: bold;
        }

        :is(span):last-child:hover {
          color: var(--accent);
          text-decoration: underline;
        }
      }
    }
    .see_more {
      font-size: 20px;

      &:hover {
        color: var(--accent);
        text-decoration: underline;
      }
    }
  }
</style>
