@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=JetBrains+Mono:wght@400;500;600&family=Noto+Sans+JP:wght@700&display=swap');

body {
  margin: 0;
  padding: 0;
  /* font-family: 'Barlow', sans-serif; */
  font-family: 'JetBrains Mono', monospace;
  /* overflow-x: hidden; */
  /* overflow-y: scroll; */
}
p {
  font-size: 50px;
}
a {
  text-decoration: none;
  color: #e4e4e4;
}

.bodyContainer {
  background-color: #bfc6f7;
  width: 100%;
  height: 100%;
  color: #e4e4e4;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.headerContainer {
  position: absolute;
  top: 0;
  margin: 10px;
  width: 100%;
  display: flex;
  flex-direction: row;
  /* align-content: space-between; */
  justify-content: space-between;
  background: transparent;
}

.boxShadow {
  box-shadow: 0 0 10px 1px rgba(0,0,0,30%);
}

/* .centerContainer,
.leftSideContainer,
.rightSideContainer {
  width: 100%;
} */
.leftSideContainer {
  align-self: flex-start;
  margin: 0 10px;
}
.leftSidePannel {
  background: #171b25;
  height: 40px;
  width: 200px;
  border-radius: 6px;
}

.centerContainer {
  position: absolute;
  left: 50%;
  transform: translate(-50%);

  /* align-self: center; */
  display: flex;
  align-items: center;
  justify-content: center;
  /* margin: 0 10px; */
}
.centerCube {
  background: #171b25;
  height: 40px;
  width: 40px;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* transform: translateX(-50%); */
}
.centerCube a {
  margin: 0;
  padding: 0;
  height: 25px;
}
.centerCube a img{
  height: 23px;
  width: 23px;
  margin: auto;
}

.rightSideContainer {
  align-self: flex-end;
  margin: 0 10px;
}
.rightSidePannel {
  background: #171b25;
  height: 40px;
  width: 300px;
  border-radius: 6px;
}

.cardsContainer {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.row {
  display: flex;
  flex-direction: row;
}
.col {
  display: flex;
  flex-direction: column;
}

.card {
  background: #171b25;
  width: 380px;
  height: 200px;
  color: #fff;
  margin: 6px;
  border-radius: 6px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.card1 {
  height: 320px;
  width: 280px;
  display: flex;
  flex-direction: column;
}
.card1 img {
  border-radius: 50%;
  height: 160px;
}
.title {
  margin: 0;
  margin-top: 10px;

  font-family: 'Noto Sans JP', sans-serif;
  font-size: 37px;
}
.subtitle {
  font-size: 20px;
  margin-bottom: 0;
}

.card2 {
  height: 320px;
  width: 190px;
  display: flex;
  flex-direction: column;
}
.card2 a {
  margin: 0;
  margin-bottom: 7px;
  margin-top: 7px;
  font-size: 25px;
}
.card2 a:hover {
  color: #e17a7a;
  /* color: #7ff1aa */
  /* color: #ffcd56; */
  /* color: #a8befb; */
  /* color: #8f7dbe; */
}

.card3 {
  height: 154px;
  width: 320px;
}

.card4 {
  height: 130px;
  width: 178px;
}
.card4 p {
  font-size: 25px;
}

.card5 {
  height: 83px;
  width: 83px;
}
.card5 p {
  font-size: 14px;
}

.card6 {
  height: 154px;
  width: 400px;
}

.card7 {
  height: 71px;
  width: 400px;
}

.card8 {
  height: 71px;
  width: 400px;
}
.card8 p {
  font-size: 22px;
  /* font-size: 1.5vw; */
  margin: 14px;
  line-height: 26px;
}

.card9 {
  height: 320px;
  width: 300px;
}

.footerContainer {
  position: absolute;
  bottom: 0;

  display: flex;
  flex-direction: row;

  height: 100px;
  width: 100%;
}
.footerPannel {
  background: #171b25;
  height: 40px;
  width: 100%;
  margin: 10px;
  border-radius: 6px;
  align-self: flex-end;
}

@media only screen and (max-width: 1025px) {

}

@media only screen and (max-width: 680px) {
  /* header centerContainer limit */
}
