@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=JetBrains+Mono:wght@400;500;600&family=Noto+Sans+JP:wght@700&display=swap');

body {
  margin: 0;
  padding: 0;
  /* font-family: 'Barlow', sans-serif; */
  font-family: 'JetBrains Mono', monospace;
  overflow-x: hidden;
  /* overflow-y: scroll; */
  background-color: #bfc6f7;

  width: 100%;
  height: 100%;
  color: #e4e4e4;
  position: absolute;
  display: flex;
  flex-direction: column;
}
p {
  font-size: 50px;
  color: #e4e4e4;
}
a {
  text-decoration: none;
  color: #e4e4e4;
}
img {
  image-rendering: -webkit-optimize-contrast;
}

#scanlines {
  background-image: url("../content/scanlines.png");
  background-repeat: repeat;
  position:absolute; top: 0px; left: 0px;
  width: 100%; height: 100%; z-index:9999;
  animation: scanAnim 0.6s infinite;
  animation-timing-function: linear;
  pointer-events: none;
  background-color: transparent;
}

.headerContainer {
  position: fixed;
  top: 0;
  /* margin: 10px; */
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: row;
  /* align-content: space-between; */
  justify-content: space-between;
  background: transparent;
  z-index: 1;
}

.boxShadow {
  box-shadow: 0 0 10px 1px rgba(0,0,0,30%);
}
.blur {
  backdrop-filter: blur(12px);
  background-color: rgba(21, 32, 43, 0.75);
  background-color: #bfc6f73b;
}

/* .centerContainer,
.leftSideContainer,
.rightSideContainer {
  width: 100%;
} */
.leftSideContainer {
  align-self: flex-start;
  margin: 10px;
}
.leftSidePannel {
  background: #171b25;
  height: 40px;
  width: 250px;
  border-radius: 6px;
}

.centerContainer {
  /* position: absolute;
  left: 50%;
  transform: translate(-50%); */

  display: flex;
  align-items: center;
  justify-content: center;
}
.centerCube {
  background: #171b25;
  height: 40px;
  width: 40px;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.centerCube a {
  margin: 0;
  padding: 0;
  height: 23px;
  width: 23px;
  background: url("../img/arch-linux-pink.svg") no-repeat;
  background-size: contain;
}

.rightSideContainer {
  align-self: flex-end;
  margin: 10px;
}
.rightSidePannel {
  background: #171b25;
  height: 40px;
  width: 250px;
  border-radius: 6px;
}

.cardsContainer {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 1016px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* display: none; */
}

.row {
  display: flex;
  flex-direction: row;
}
.col, .col1, .col2, .col3 {
  display: flex;
  flex-direction: column;
  /* width: 100%; */
}

.card {
  background: #171b25;
  width: 380px;
  height: 200px;
  color: #fff;
  margin: 6px;
  border-radius: 6px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.card1, .card10 {
  height: 320px;
  width: 280px;
  display: flex;
  flex-direction: column;
}
.card1 img {
  border-radius: 50%;
  height: 160px;
}
.title {
  margin: 0;
  margin-top: 10px;

  font-family: 'Noto Sans JP', sans-serif;
  font-size: 37px;
}
.subtitle {
  font-size: 20px;
  margin-bottom: 0;
}

.card2 {
  height: 320px;
  width: 190px;
  display: flex;
  flex-direction: column;
}
.card2 a {
  margin: 0;
  margin-bottom: 7px;
  margin-top: 7px;
  font-size: 25px;
}
.card2 a:hover {
  color: #e17a7a;
  /* color: #7ff1aa */
  /* color: #ffcd56; */
  /* color: #a8befb; */
  /* color: #8f7dbe; */
}

.card3 {
  height: 154px;
  width: 320px;
}

.card4 {
  height: 130px;
  width: 178px;
}
.card4 p {
  font-size: 25px;
}

.card5 {
  height: 83px;
  width: 83px;
}
.card5 p {
  font-size: 14px;
}

.card6 {
  height: 154px;
  width: 400px;
}

.card7 {
  height: 71px;
  width: 400px;
}

.card8 {
  height: 71px;
  width: 400px;
}
.card8 p {
  font-size: 22px;
  /* font-size: 1.5vw; */
  margin: 14px;
  line-height: 26px;
}

.card9 {
  height: 320px;
  width: 300px;
}

.footerContainer {
  position: fixed;
  bottom: 0;

  display: flex;
  flex-direction: row;

  height: fit-content;
  width: 100%;
}
.footerPannel {
  background: #171b25;
  height: 40px;
  width: 100%;
  margin: 10px;
  border-radius: 6px;
  align-self: flex-end;
  display: flex;
  justify-content: flex-start;
}
.footerLeftButton {
  background: transparent;
  /* background: #a8befb; */
  /* background: #e4e4e4; */
  height: 36px;
  min-width: 36px;
  margin: 2px 5px 2px 2px;
  border-radius: 6px;

  position: relative;
  align-self: flex-start;
  display: flex;
  align-items: center;
  justify-content: center;
  /* transform: translateX(-50%); */
}
.footerLeftButton, .menuItem {
  cursor: pointer;
}
.floatingMenu {
  cursor: default;
}
.footerLeftButton .logo {
/* .logo1 { */
  padding: 0;
  height: 23px;
  width: 23px;
  margin: auto;
  background: url("../img/arch-linux-offwhite.svg") no-repeat;
  background-size: contain;
}
.footerLeftButton:hover .logo, .logo2 {
  padding: 0;
  height: 23px;
  width: 23px;
  margin: auto;
  background: url("../img/arch-linux-bg.svg") no-repeat;
  background-size: contain;
}
.footerLeftButton:hover, .footerLeftButtonActive {
  background-color: #e4e4e4;
}
.footerLinksContainer {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.footerLink {
  background: transparent;
  margin: 2px 3px;
  border-radius: 6px;
  height: 36px;
  width: fit-content;
  min-width: fit-content;
  display: flex;
  align-items: center;
}
.footerLink:hover, .footerLinkActive {
  background-color: #e4e4e4;
}
.footerLink:hover a, .footerLinkActive a{
  color: #171b25;
}
.footerLink a {
  margin: 0 20px;
}

.floatingMenu {
  height: 200px;
  width: 300px;
  border-radius: 6px;
  background: #171b25;
  display: flex;
  position: absolute;
  bottom: 50px;
  left: 0px;
  visibility: hidden;
}
.menuList {
  list-style-type: none;
  overflow: auto;
  padding: 0;
  margin: 20px;
}
.menuList::-webkit-scrollbar {
  width: 8px;
}
.menuList::-webkit-scrollbar-thumb {
  background: #e4e4e4;
  border-radius: 10px;
}
.menuList::-webkit-scrollbar-thumb:hover {
  background: #d3d3d3;
}
.menuList::-webkit-scrollbar-track {
  border-radius: 10px;
}
.menuItem {
  margin: 7px 50px 7px 0;
  width: 200px;
  height: 30px;
  border-radius: 6px;
  display: flex;
  align-items: center;
}
.menuItem a {
  margin-left: 10px;
}
.menuItem:hover {
  background: #E4E4E4;
}
.menuItem:hover a {
  color: #171b25;
}

@media only screen and (max-width: 1030px) {
  .cardsContainer {
    flex-wrap: wrap;
    width: 826px;
  }
  .col3 {
    display: none;
  }
  .card9 {
    width: 332px;
  }
}

@media only screen and (max-width: 835px) {
  .cardsContainer {
    flex-wrap: wrap;
    width: 482px;
    top: 595px;
    padding-bottom: 65px;
  }
  .card2 {
    width: 178px;
  }
  .card3 {
    width: 280px;
  }
  .card9, .card10 {
    width: 229px;
  }
}

@media only screen and (max-width: 592px) {
  .leftSideContainer, .leftSidePannel, .rightSideContainer, .rightSidePannel {
    width: 100%;
  }
}

@media only screen and (max-width: 508px) {
  .cardsContainer {
    top: 1090px;
    width: 280px;
  }
  .card {
    width: 100%;
  }
  .col, .col1, .col2, .col3 {
    width: 100%;
  }
  .card3, .card4 {
    width: 268px;
  }
}
