---

import Layout from '../../../layouts/Layout.astro';
import H2 from '../../../components/H2.astro';
import '../Post.css';

const title = "Bring back simpler websites"
---

<Layout title={`${title}" - wdias.dev"`}>
  <main class="post">
    <h1>{title}</h1>

    <p>
      During the process of developing this website I realized how difficult it is to desing a good looking interface
      that looks cohesive and visually pleasing

      It made me remember the early 2000's era of website design

      and Japanese websites still look like that to a certain extent

      and I think that that's a good thing.

      in the day and age of server side rendering and insanely complex logic for websites this

      keep the web simple

      fuck analytics

      stop this restless pursue and integration of ai and analytics into everything

      <a href="https://motherfuckingwebsite.com/"> motherfuckingwebsite.com</a>
      <a href="http://bettermotherfuckingwebsite.com/"> bettermotherfuckingwebsite.com</a>
      <a href="#"> openBSD</a>
      <a href="#"> grugbrain.dev</a>
    </p>
  </main>
</Layout>
