---

import Layout from '../../../layouts/Layout.astro';
import H2 from '../../../components/H2.astro';
import '../Post.css';

const title = "post test 2"
---

<Layout title={`${title}" - wdias.dev"`}>
  <main class="post">
    <h1>{title}</h1>
    <p class="post_date">Oct 27, 2023</p>

    <H2 title="h2 title 1" />
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi iaculis
      volutpat purus vel lobortis. Nunc semper dolor velit, mollis ullamcorper
      leo mollis ut. Etiam viverra eros sit amet sem rutrum, eget pharetra
      velit suscipit. Aenean pretium auctor sem, nec rutrum sem. Mauris
      sagittis eros in ex varius condimentum. Nulla vel arcu sed odio laoreet
      tempus. Etiam nec tortor ut felis interdum condimentum vehicula placerat
      est. Mauris non dui eros. Suspendisse potenti. Duis eleifend molestie
      massa eu hendrerit. Donec convallis efficitur nisl sit amet posuere.
      Phasellus at congue nibh. Nunc neque tortor, ornare in elit id,
      semper venenatis velit. Sed at urna tempor, auctor orci in, varius neque.
      Vestibulum malesuada, lacus quis aliquet elementum, massa magna vehicula
    tortor, ac egestas velit sem non metus.
    </p>

    <H2 title="h2 title 2" />
    <p>
      Nulla urna tellus, bibendum ac commodo at, viverra at metus. Fusce
      scelerisque lacus nec mi dapibus convallis. Nullam posuere ligula ac pulvinar
      eleifend. Nulla facilisi. Aenean blandit egestas felis eget rutrum. Ut auctor
      dictum leo nec pulvinar. Cras nec purus hendrerit, commodo sapien at,
      suscipit magna. Maecenas pellentesque laoreet aliquam. Suspendisse maximus
      hendrerit sollicitudin. Nunc sollicitudin tortor massa, eget cursus eros
      fringilla ac. Sed tempor, odio non tincidunt tempus, justo tortor fringilla
      lectus, id tempor neque enim et diam. Nulla mollis ut diam eget bibendum.
      Ut eros libero, rhoncus quis lectus sit amet, fermentum pretium ante.
      Duis posuere eget dolor luctus malesuada. Cras dictum pulvinar placerat.
    </p>

    <H2 title="h2 title 3" />
    <p>
      Maecenas mollis augue nec scelerisque vehicula. Aliquam luctus posuere
      magna id posuere. Etiam rutrum sem quis turpis rutrum posuere id nec eros.
      Morbi mattis porttitor faucibus. Etiam justo tortor, cursus rhoncus felis a,
      blandit malesuada nibh. Cras sodales suscipit mollis. Morbi ultrices vel
      erat id interdum. Sed at elementum lacus, sit amet lobortis lectus.
      Duis laoreet accumsan tortor, sed aliquam ex sollicitudin id. Vestibulum
      ultricies justo nec ullamcorper pulvinar. Quisque et malesuada tellus,
      vitae pellentesque velit. Cras molestie laoreet ligula et cursus.
    </p>

    <p>
      Sed purus metus, luctus vel suscipit non, ultricies at ex. Sed at quam
      metus. Proin porta viverra mi eu bibendum. In sit amet mi at mi scelerisque
      feugiat. Maecenas pharetra ante quis ligula sollicitudin, non facilisis
      magna sollicitudin. Maecenas ac tempus massa. Sed ultricies rutrum tellus ut
      consectetur. Fusce eu gravida leo, in imperdiet diam.
    </p>

    <H2 title="h2 title 4" />
    <p>
      Pellentesque eu feugiat elit. Nulla bibendum nunc volutpat enim euismod
      molestie at eu massa. Quisque tristique nulla at sapien volutpat, eget
      venenatis velit euismod. Nunc quis justo volutpat, pharetra lacus eget,
      molestie nibh. Nam suscipit feugiat ultrices.
    </p>
    <ul>
      <li>Lorem ipsum dolor sit amet</li>
      <li>Lorem ipsum dolor sit amet</li>
      <li>Lorem ipsum dolor sit amet</li>
      <li>Lorem ipsum dolor sit amet</li>
      <li>Lorem ipsum dolor sit amet</li>
    </ul>
    <p>
      Curabitur id scelerisque ipsum.
      Vestibulum libero turpis, rhoncus eget turpis at, dapibus tincidunt tellus.
      Vivamus finibus ante quis eros maximus, quis volutpat odio sollicitudin.
      Donec finibus semper cursus. In id commodo leo. Donec congue sed sapien
      quis finibus. Donec varius mi id vulputate lobortis. Donec interdum tortor
      venenatis magna sagittis, ultricies dictum sem vestibulum. Mauris mauris
      eros, pulvinar a mi sit amet, mollis molestie turpis.
    </p>

    <H2 title="h2 title 5" />
    <p>
      Integer imperdiet lectus in dapibus faucibus. Curabitur ac volutpat ex.
      Curabitur sit amet velit quam. Nulla pharetra maximus elit quis pretium.
      Suspendisse quam quam, vehicula et velit non, pellentesque pulvinar lorem.
      Etiam mauris risus, luctus sed pharetra at, lobortis et felis. Phasellus
      venenatis sed erat vitae eleifend.
    </p>
    <blockquote>
      <p>
        Quisque interdum accumsan diam, vitae
        rutrum mi tincidunt a. Mauris accumsan a sem vitae dictum. Praesent mauris
        metus, tristique in egestas vitae, tincidunt non velit. Sed blandit mi
        non neque suscipit elementum. Mauris at sapien vehicula, tempor tortor
        id, volutpat risus. Praesent sodales est nec dui dapibus dictum.
        Nunc accumsan sed urna a tempus.
      </p>
    </blockquote>

    <p>
      Sed ut metus ornare, imperdiet enim et, condimentum tortor. Phasellus
      sit amet ipsum quis felis suscipit porttitor non dignissim lectus. In et
      pulvinar lectus. Proin posuere faucibus mauris, sit amet venenatis metus
      lobortis sed. Vivamus sed neque nisi. Morbi rutrum, diam eu egestas suscipit,
      odio metus venenatis dui, ultricies blandit enim orci eget enim.
      Cras sagittis augue eget turpis lacinia aliquet.
    </p>
  </main>
</Layout>
