---

import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';

const { title } = Astro.props;

---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <Header />
    <slot />
    <Footer />
  </body>
</html>

<style is:global>
  /* @import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;500;600&display=swap'); */

  :root {
    /* font-family: 'JetBrains Mono', monospace; */
    font-family: "SFMono-Regular", Consolas, "Roboto Mono", "Droid Sans Mono", "Liberation Mono", Courier, Menlo, monospace;
    /* font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace; */
    /* font-family: "DejaVu Sans Mono", monospace; */

    /* color-scheme: only light; */
    color-scheme: light dark;

    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;

    --text: #FFFFFF;
    --background: #212121;
    --primary: #323232;
    --secondary: #0D7377;
    --accent: #14FFEC;

    color: var(--text);
    background-color: var(--background);
    line-height: 1.5;
    font-size: 1.125rem;
  }

  html {
    scroll-behavior: smooth;
  }

  body {
    margin: 0;
    padding: 0;
  }

  main {
    max-width: 800px;
    margin: 0 auto;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    padding-top: 1rem;
    padding-bottom: 1.5rem;

    @media screen and (max-width: 410px) {
      padding-right: 0.75rem;
      padding-left: 0.75rem;
      padding-top: 0.5rem;
      padding-bottom: 5rem;
    }
  }

  h1 {
    margin-top: 0;
  }

  a {
    color: var(--text);
    text-decoration: inherit;
  }

  /* --text: #dff1f0;
  --background: #0c1c1c;
  --primary: #275957;
  --secondary: #091515;
  --accent: #48a3a0; */

  /* --text: #f4f7fb;
  --background: #060a0f;
  --primary: #203756;
  --secondary: #070c13;
  --accent: #3e6ca8; */

  /* --text: #ffffff;
  --background: #011310;
  --primary: #0be5c1;
  --secondary: #03493d;
  --accent: #24f5d2; */

  /* --text: #f6fdfb;
  --background: #03110d;
  --primary: #24cc97;
  --secondary: #083023;
  --accent: #2bdaa2; */

  /* --text: #f2fcfc;
  --background: #082b29;
  --primary: #3fd9d4;
  --secondary: #092f2e;
  --accent: #2ed6d0; */

  /* --text: #f7fdfb;
  --background: #000000;
  --primary: #51dba4;
  --secondary: #08261a;
  --accent: #2acf8d; */

  /* --text: #e0e8f0;
  --background: #111922;
  --primary: #3d5a7b;
  --secondary: #111922;
  --accent: #547dab; */

  /* --text: #e5f0ef;
  --background: #020303;
  --primary: #80b7b3;
  --secondary: #0f1a19;
  --accent: #589d97; */

  /* --text: #e4f0f2;
  --background: #0a1415;
  --primary: #4c939a;
  --secondary: #0f1d1f;
  --accent: #52a0a7; */

  /* --text: #f6fcfe;
  --background: #000000;
  --primary: #7cd2ee;
  --secondary: #082e3b;
  --accent: #2bb5e3; */

  /* --text: #e5eff0;
  --background: #080c0d;
  --primary: #8fb9bd;
  --secondary: #1c2f30;
  --accent: #6ea5aa; */

  /* --text: #f7fdfd;
  --background: #061313;
  --primary: #8fdbdb;
  --secondary: #0c2727;
  --accent: #3ec1c1; */

  /* --text: #f1f7fd;
  --background: #010205;
  --primary: #0a2e5c;
  --secondary: #041020;
  --accent: #186bd8; */

  /* --text: #ffffff;
  --background: #011310;
  --primary: #0be5c1;
  --secondary: #03493d;
  --accent: #24f5d2; */

  /* --text: #eef3f2;
  --background: #020807;
  --primary: #0be5c1;
  --secondary: #03493d;
  --accent: #24f5d2; */

  /* --text: #020807;
  --background: #eefcf8;
  --primary: #33dba6;
  --secondary: #cff7ea;
  --accent: #25d49d; */

  /* --text: #f6fdfb;
  --background: #03110d;
  --primary: #083023;
  --secondary: #24cc97;
  --accent: #2bdaa2; */

  /* --text: #FFFFFF;
  --text-faded: #abb6c1;;
  --background: #222830;
  --primary: #24cc97;
  --secondary: #202021;
  --accent: #28ffd4; */

  /* --text: #FFFFFF;
  --background: #222831;
  --primary: #393E46;
  --secondary: #EEEEEE;
  --accent: #00ADB5; */

  /* --text: #e8e6e3;
  --text2: #a69e92;
  --background: #1b1e1f;
  --primary: #272a2c;
  --secondary: #EEEEEE;
  --accent: #00ADB5; */

  /* --text: #dadada;
  --text2: #b3b9b8;
  --background: #141b1e;
  --primary: #232a2d;
  --secondary: #b3b9b8;
  --accent: #6cbfbf; */

  /* --text: #ffffff;
  --text2: #ffffff82;
  --background: #242729;
  --primary: #2c3032;
  --secondary: #2c3032;
  --accent: #7bffff; */

  /* --text: #dadada;
  --text2: #ffffffa3; // 64%
  --text3: #ffffff82; // half opacity
  --background: #242729;
  --background: #212324;
  --primary: #232a2d;
  --secondary: #b3b9b8;
  --accent: #3898FF; */

  /*
   monkeytype themes

   dev
   :root {
     --bg-color: #1b2028;
     --main-color: #23a9d5;
     --caret-color: #4b5975;
     --sub-color: #4b5975;
     --sub-alt-color: #151a21;
     --text-color: #ccccb5;
     --error-color: #b81b2c;
     --error-extra-color: #84131f;
     --colorful-error-color: #b81b2c;
     --colorful-error-extra-color: #84131f;
   }

   metropolis
   root {
    --bg-color: #0f1f2c;
    --main-color: #56c3b7;
    --caret-color: #56c3b7;
    --sub-color: #326984;
    --sub-alt-color: #0b1822;
    --text-color: #e4edf1;
    --error-color: #d44729;
    --error-extra-color: #8f2f19;
    --colorful-error-color: #d44729;
    --colorful-error-extra-color: #8f2f19;
  }

  mint
  :root {
    --bg-color: #05385b;
    --main-color: #5cdb95;
    --caret-color: #5cdb95;
    --sub-color: #20688a;
    --sub-alt-color: #07324e;
    --text-color: #edf5e1;
    --error-color: #f35588;
    --error-extra-color: #a3385a;
    --colorful-error-color: #f35588;
    --colorful-error-extra-color: #a3385a;
  }

  modern_dolch
  :root {
    --bg-color: #2d2e30;
    --main-color: #7eddd3;
    --caret-color: #7eddd3;
    --sub-color: #54585c;
    --sub-alt-color: #242527;
    --text-color: #e3e6eb;
    --error-color: #d36a7b;
    --error-extra-color: #994154;
    --colorful-error-color: #d36a7b;
    --colorful-error-extra-color: #994154;
  }

  nord
  :root {
    --bg-color: #242933;
    --caret-color: #eceff4;
    --main-color: #88c0d0;
    --sub-color: #929aaa;
    --sub-alt-color: #2e3440;
    --text-color: #d8dee9;
    --error-color: #bf616a;
    --error-extra-color: #793e44;
    --colorful-error-color: #bf616a;
    --colorful-error-extra-color: #793e44;
  }

  onedark
  :root {
    --bg-color: #2f343f;
    --caret-color: #61afef;
    --main-color: #61afef;
    --sub-color: #eceff4;
    --sub-alt-color: #262b34;
    --text-color: #98c379;
    --error-color: #e06c75;
    --error-extra-color: #d62436;
    --colorful-error-color: #d62436;
    --colorful-error-extra-color: #ff0019;
  }

  superuser
  :root {
    --bg-color: #262a33;
    --main-color: #43ffaf;
    --caret-color: #43ffaf;
    --sub-color: #526777;
    --sub-alt-color: #1f232c;
    --text-color: #e5f7ef;
    --error-color: #ff5f5f;
    --error-extra-color: #d22a2a;
    --colorful-error-color: #ff5f5f;
    --colorful-error-extra-color: #d22a2a;
  }

  wavez
  :root {
    --bg-color: #1c292f;
    --main-color: #6bde3b;
    --caret-color: #6bde3b;
    --sub-color: #1f5e6b;
    --sub-alt-color: #1b3238;
    --text-color: #e9efe6;
    --error-color: #ca4754;
    --error-extra-color: #7e2a33;
    --colorful-error-color: #ca4754;
    --colorful-error-extra-color: #7e2a33;
  }

   */
</style>
